html {
    font-size: 14px;
    letter-spacing: 0.05em;
    word-break: break-all;

    min-height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;

    position: relative;

    background: rgb(5, 1, 12);
}

section {
    position: relative;
}

/* ANIMATIONS */
@keyframes lateOpacity1 {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: 0.2;
    }

    100% {
        opacity: 0.9;
    }
}

/* main container */
.container {
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;

    position: relative;
    box-sizing: border-box;
}

.pad-top-bottom-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.container p {
    text-align: justify;
}


/* HELPERS */
.ns {
    -moz-user-select: none;
    -ms-touch-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bold {
    font-weight: 700;
}

.s-text-with-image {
    display: -ms-grid;
    display: grid;

    -ms-grid-columns: auto s;
    grid-template-columns: auto auto;
}

.s-text-with-image > div {
    max-width: 100%;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.s-text-with-image > img {
    -ms-grid-row-align: start;
    margin-bottom: auto;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

.s-text-with-image img {
    display: block;
    width: 100%;
    height: auto;
    min-height: 1px;
}

.anchor-pad {
    position: absolute;
    width: 100%;
    height: 0;
    top: -70px;
}

/* STYLING */

/* NAV */

nav {
    position: fixed;
    height: 70px;
    z-index: 1000;
    top: 0; right: 0; left: 0;
    font-size: 1.2em;  
    background-color: rgba(0, 0, 0, 0.6);

    border-bottom: 1px solid rgba(0, 174, 255, 0);
}

nav > div {
    height: inherit;
}

.nav-style {  
    display: flex;
    align-content: center;
    text-align: center;
}

.nav-style div:nth-child(1) {
    margin-right: auto;
}

nav a {
    text-decoration: none;
    color: rgb(245, 245, 245);
    padding: 20px 20px;
    box-sizing: border-box;
    background-color: inherit;
    border: none;
    height: 100%;
    margin: 0 auto;
    line-height: 30px;
}

nav a:hover {
    text-shadow: 0 0 10px rgb(0, 174, 255);
    color: rgb(0, 174, 255);
}

.nav-style > *:nth-child(3) {
    display: none;
}

.hamburger {
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-direction: column;
    height: 20px;
    margin: auto 0;
    cursor: pointer;

    position: relative;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.hamburger:focus {
    outline: none;
}

.hamburger div {
    height: 3px;
    background: linear-gradient(to left, rgb(0, 174, 255), rgb(153, 0, 255));
    width: 26px;

    opacity: 1;

    transition: 0.3s all ease-in-out;
    transform-origin: center;

    pointer-events: none;
}

.hamburger:focus div:nth-child(1) {
    transform: translate(0, 8px) rotate(225deg);
}

.hamburger:focus div:nth-child(2) {
    opacity: 0;
    transition: 0.1s all ease-in-out;
}

.hamburger:focus div:nth-child(3) {
    transform: translate(0, -9px) rotate(-225deg);
}

.hamburger:focus ul {
    opacity: 1;
    visibility: visible;
    transition: 0.2s all ease-out;
    background-color: rgba(0, 0, 0, 0.85);
}

.hamburger ul {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    
    opacity: 0;
    visibility: hidden;  
    transition: 0.2s all ease-in; 

    z-index: -1;
}

.hamburger ul li {
    animation: 0.3s ease-out 0s 1 lateOpacity1;
}

.hamburger:focus + .hamburger-de-focuser {
    display: inline-block;
}

.hamburger-de-focuser {
    position: absolute;
    right: 20px;
    top: calc( (100% - 20px) / 2 );
    bottom: calc( (100% - 20px) / 2 );
    width: 26px;

    display: none;
}

/* SPLASH */

#splash {
    background-image: url("../media/img/test-1920-1080.jpg");

    height: 100vh; 
    width: 100%;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;

    z-index: 100;
}

.splash-scroll-down-indicator {
    position: absolute;
    bottom: 20px;
    width: 100%;

    display: flex;
    align-content: center;
    justify-content: center;

    animation: flash 2s ease-in-out 0s infinite alternate;
}

.splash-scroll-down-indicator a:nth-child(1) {
    display: none;
}

.splash-scroll-down-indicator a:nth-child(1) img {
    height: 50px;
    width: 50px;
    box-shadow: 0 0 20px black;
    border-radius: 1000000px;
}


.splash-scroll-down-indicator a:nth-child(2) {
    height: 50px;
    width: 120px;

    display: inline-block;

    position: relative;
}

.splash-scroll-down-indicator a:nth-child(2) div {
    width: 60px;
    box-shadow: 0 0 20px black;
    height: 4px;
    position: absolute;

    border-radius: 4px;
}

.splash-scroll-down-indicator a:nth-child(2) div:nth-child(1) {
    transform: translate(5px, 25px) rotate(30deg);
    background: linear-gradient(to left, rgb(0, 174, 255), rgb(153, 0, 255));
}

.splash-scroll-down-indicator a:nth-child(2) div:nth-child(2) {
    transform: translate(55px, 25px) rotate(-30deg);
    background: linear-gradient(to right, rgb(0, 174, 255), rgb(153, 0, 255));
}

/* RESPONSIVITY */
@media (max-width: 600px) {
    .anchor-pad {
        top: -60px;
    }

    nav {
        height: 60px;
    }

    .s-text-with-image {
        display: flex;
        flex-direction: column-reverse;
    }

    .splash-scroll-down-indicator a:nth-child(1) {
        display: inline-block;
    }

    .splash-scroll-down-indicator a:nth-child(2) {
        display: none;
    }

    .nav-style > *:nth-child(2) {
        display: none;

    }  

    .nav-style > *:nth-child(3) {
        display: flex;
        
    }  

    nav a {
        padding: 15px 0;
    }
}

@media (min-width: 790px) {
    .container {
        width: 750px;
    }
    
}

@media (min-width: 1010px) {
    .container {
        width: 970px;
    }
    
}

@media (min-width: 1210px) {
    .container {
        width: 1170px;
    }
    
}