html {
    letter-spacing: 0.05em;
    word-break: break-all;

    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    min-height: 100%;
    width: 100%;
    height: 100%;
    position: relative;

    background: hsl(207, 43%, 4%);

    color: rgb(240, 240, 240);
}

section {
    position: relative;
    background: inherit;
    z-index: 1;
}

hr {
    margin: 0;
    margin-top: 50px;
}

/* ANIMATIONS */
@keyframes lateOpacity1 {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: 0.2;
    }

    100% {
        opacity: 0.9;
    }
}

@keyframes textglitch {
    0%, 100% {
       transform: translateY(0);
    }

    49.0% {
        transform: translateY(0);
    }

    49.4% {
        transform: translateY(-7px);
    }

    49.8% {
        transform: translateY(7px);
    }

    50.2% {
        transform: translateY(-7px);
    }

    50.6% {
        transform: translateY(7px);
    }

    51.0% {
        transform: translateY(0);
    }
}

/* main container */
.container {
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;

    position: relative;
    box-sizing: border-box;
}

.pad-top-bottom-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pad-top-20 {
    padding-top: 20px;
}

.container p {
    text-align: justify;
}

/* HELPERS */
.ns {
    -moz-user-select: none;
    -ms-touch-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bold {
    font-weight: 700;
}

.s-text-with-image {
    display: -ms-grid;
    display: grid;

    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
}

.s-text-with-image > div {
    max-width: 100%;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.s-text-with-image > img {
    -ms-grid-row-align: start;
    margin-bottom: auto;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

.s-text-with-image img {
    display: block;
    width: 100%;
    height: auto;
    min-height: 1px;
}

.anchor-pad {
    position: absolute;
    width: 100%;
    height: 0;
    top: -70px;
}

.top-full-border {
    border-top: 4px solid white;
}

.section-header {
    font-size: 150%;
    text-align: center;
    padding: 14px 10px 10px 10px;
    background: hsl(210, 89%, 6%);
    border-bottom: 4px solid white;
    line-height: 1em;
}

/* STYLING */

/* NAV */

nav {
    position: fixed;
    height: 70px;
    z-index: 1000;
    top: 0; right: 0; left: 0;
    font-size: 1.1em;  
    background: hsl(210, 89%, 6%);

    box-sizing: border-box;

    border-bottom: 4px solid white;
}

nav > div {
    height: inherit;
    padding-right: 20px !important;
    padding-left: 20px !important;
}

.nav-style {  
    display: flex;
    align-content: center;
    text-align: center;
}

.nav-style div:nth-child(1) {
    margin-right: auto;
}

nav a {
    text-decoration: none;
    color: rgb(245, 245, 245);
    padding: 20px 0 20px 20px;
    box-sizing: border-box;
    background-color: inherit;
    border: none;
    height: 100%;
    margin: 0 auto;
    line-height: 30px;
    display: inline-block;
}

nav a:hover {
    color: rgb(233, 190, 53);
}

.nav-style > *:nth-child(3) {
    display: none;
}

.hamburger {
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-direction: column;
    height: 20px;
    margin: auto 0;
    cursor: pointer;

    position: relative;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.hamburger:focus {
    outline: none;
}

.hamburger div {
    height: 3px;
    background: rgb(245, 245, 245);
    width: 26px;

    opacity: 1;

    transition: 0.3s all ease-in-out;
    transform-origin: center;

    pointer-events: none;
}

.hamburger:focus div:nth-child(1) {
    transform: translate(0, 8px) rotate(225deg);
    background: rgb(233, 190, 53);
}

.hamburger:focus div:nth-child(2) {
    transform: translateX(50px);
    background: rgb(233, 190, 53);
}

.hamburger:focus div:nth-child(3) {
    transform: translate(0, -9px) rotate(-225deg);
    background: rgb(233, 190, 53);
}

.hamburger:focus ul {
    opacity: 1;
    visibility: visible;
    transition: 0.2s all ease-out;
    background-color: rgba(0, 0, 0, 0.85);
}

.hamburger ul {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    
    opacity: 0;
    visibility: hidden;  
    transition: 0.2s all ease-in; 

    z-index: -1;
    font-size: 140%;
}

.hamburger ul li {
    animation: 0.3s ease-out 0s 1 lateOpacity1;
}

.hamburger:focus + .hamburger-de-focuser {
    display: inline-block;
}

.hamburger-de-focuser {
    position: absolute;
    right: 20px;
    top: calc( (100% - 20px) / 2 );
    bottom: calc( (100% - 20px) / 2 );
    width: 26px;

    display: none;
}

/* SPLASH */

#splash {
    height: 100%; 
    width: 100%;
    overflow: hidden;
    background-color: inherit;
    font-size: 14px;

    position: relative;
}

#splash video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    z-index: 0;
}

.splash-overlay {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.splash-overlay-fx {
    position: fixed;
    top: 0; right: 0; left: 0; bottom: 0;
    background: repeating-linear-gradient(0deg, black 0px, black 1px, transparent 4px, transparent 3px);
    opacity: 0.5;
}

@supports (-ms-ime-align:auto) {
    .splash-overlay-fx {
        position: absolute;
    }
}

.splash-overlay > * > * {
    text-align: center;
    word-break: keep-all;
    font-size: 150%;
    text-shadow: 0 0 10px black;
}

.splash-overlay > *:not(:nth-child(1)) {  
    position: relative;
}

.glitch {
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0;
    z-index: -1;
    text-shadow: none !important;
}

.glitchA {
    color: #f00;
    animation: textglitch 6s linear infinite;
    animation-direction: reverse;
}

.glitchB {
    color: #0f0;
    animation: textglitch 6s linear infinite;
}

.splash-overlay > div > h1 {
    margin-top: 40px;
}

.splash-overlay > h1 {
    text-align: center;
}

.splash-overlay > p {
    padding-top: 20px;
    text-align: center;
    word-break: keep-all;
    font-size: 150%;
    text-shadow: 0 0 10px black;
}

.splash-name-standard {
    display: block;
    font-size: 400%;
}

.splash-name-mob {
    display: none;
    font-size: 300%;
}

.splash-scroll-down-indicator {
    position: absolute;
    bottom: 20px;
    width: 100%;

    display: flex;
    align-content: center;
    justify-content: center;

    animation: flash 2s ease-in-out 0s infinite alternate;

    z-index: 100;
}

.splash-scroll-down-indicator a:nth-child(1) {
    display: none;
}

.splash-scroll-down-indicator a:nth-child(1) img {
    height: 60px;
    width: 60px;
    box-shadow: 0 0 20px black;
    border-radius: 1000000px;
}


.splash-scroll-down-indicator a:nth-child(2) {
    height: 60px;
    width: 120px;

    display: inline-block;

    position: relative;
}

.splash-scroll-down-indicator a:nth-child(2) div {
    width: 60px;
    box-shadow: 0 0 20px black;
    height: 4px;
    position: absolute;

    border-radius: 4px;
}

.splash-scroll-down-indicator a:nth-child(2) div:nth-child(1) {
    transform: translate(5px, 25px) rotate(30deg);
    background: white;
}

.splash-scroll-down-indicator a:nth-child(2) div:nth-child(2) {
    transform: translate(55px, 25px) rotate(-30deg);
    background: white;
}

/* FOOTER */
footer {
    background: rgb(2, 3, 20);
    width: 100%;
    font-size: 16px;
    border-top: 4px solid white;
    position: relative;
    z-index: 1;
}

footer > div {
    width: 100%;
}

.footer-content {
    background: rgba(0, 0, 0, 0.2);        
}

.footer-content > .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    padding: 20px; 
}


.footer-content > .container > *:last-child > *:last-child {
    padding-bottom: 0;
}

.footer-section {
    width: 100%;
}

.footer-social-header {
    font-size: 1.4em;
    line-height: 1em;
    padding-bottom: 20px;
    padding-top: 5px;
}

.footer-section h1 {
    font-size: 1.4em;
    line-height: 1em;
    padding: 20px 0;
}

.footer-section h3 {
    font-size: 1.1em;
    line-height: 1em;
    padding: 5px 0;
}

.footer-section p {
    padding-bottom: 20px;
}

.footer-section p:last-child {
    padding-bottom: 0;
}

.footer-links {
    display: -ms-grid;
    display: grid;

    -ms-grid-columns: auto 20px auto 20px auto 20px auto 20px auto 20px auto;
    grid-template-columns: repeat(6, auto);

    grid-gap: 20px;

    grid-auto-columns: -webkit-min-content;

    grid-auto-columns: min-content;
}

.footer-links a:nth-child(1) {
    -ms-grid-column: 1;
}

.footer-links a:nth-child(2) {
    -ms-grid-column: 3;
}

.footer-links a:nth-child(3) {
    -ms-grid-column: 5;
}

.footer-links a:nth-child(4) {
    -ms-grid-column: 7;
}

.footer-links a:nth-child(5) {
    -ms-grid-column: 9;
}

.footer-links a:nth-child(6) {
    -ms-grid-column: 11;
}

.footer-links a {
    position: relative;
}

.footer-links a img {
    vertical-align: bottom;
    filter: contrast(0) brightness(1.2);
    width: 54px;
    transition: 0.2s all ease-in-out;
}

.footer-links a:hover img {
    filter: none;
}

.footer-copyright {
    background-color: rgba(0, 0, 0, 0.6);    

    color: rgb(214, 214, 214);
}

.footer-copyright > .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    box-sizing: border-box;
    padding: 20px;
}

.footer-copyright p {
    text-align: right;
}

footer a {
    text-decoration: none;
    color: rgb(233, 190, 53);
}

/* PROJECTS  */
.project-article:nth-child(even) {
    background: rgba(255, 255, 255, 0.05);
    box-sizing: border-box;
}

.project-title {
    font-size: 150%;
    padding-bottom: 20px;
}

.project-media > img, .project-media > video {
    border: 4px solid white;

    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    width: 100%;
}

.project-media > video:fullscreen {
    border: none;
}

.project-media > figcaption {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    font-size: 80%;
    margin-top: 4px;
    width: 100%;
}

.project-media > figcaption > a {
    text-decoration: none;
    color: rgb(233, 190, 53);
}

.project-tech-stack > li {
    box-sizing: border-box;
    padding: 10px;
    margin: 10px 0;
    background: rgba(255, 255, 255, 0.1);
    border-left: 4px solid rgb(233, 190, 53);
    font-size: 90%;
}

.project-info {
    font-size: 70%;
    border-top: 1px solid rgb(255, 255, 255);
    padding-top: 5px;
    margin-top: 10px;
}

.project-info > li > a {
    text-decoration: none;
    color: rgb(233, 190, 53);
}

/* RESPONSIVITY */
@media (max-width: 600px) {
    .project-media > video, .project-media > img {
        border: 1px solid rgb(255, 255, 255);
    }

    .footer-content > .container {
        padding-right: 10px;
        padding-left: 10px;
    }

    .footer-copyright > .container { 
        padding-right: 10px;
        padding-left: 10px;
    }
    
    .container {
        padding-right: 10px;
        padding-left: 10px;
    }

    .splash-name-standard {
        display: none;
    }
    
    .splash-name-mob {
        display: block;
    }

    .footer-links {  
        -ms-grid-columns: auto 20px auto 20px auto 20px auto 20px auto 20px auto;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: auto auto;

        grid-column-gap: 40px;
        
        grid-auto-columns: -webkit-min-content;
    
        grid-auto-columns: min-content;
    }

    .footer-links a img {
        filter: none;
    }

    .footer-section h1 {
        text-align: center;
    }

    .anchor-pad {
        top: -60px;
    }

    nav {
        height: 60px;
    }

    .s-text-with-image {
        display: flex;
        flex-direction: column-reverse;
    }

    .splash-scroll-down-indicator a:nth-child(1) {
        display: inline-block;
    }

    .splash-scroll-down-indicator a:nth-child(2) {
        display: none;
    }

    .nav-style > *:nth-child(2) {
        display: none;

    }  

    .nav-style > *:nth-child(3) {
        display: flex;
        
    }  

    nav a {
        padding: 15px 0;
    }
}

@media (min-width: 790px) {
    .container {
        width: 750px;
    }
    
}

@media (min-width: 1010px) {
    .container {
        width: 970px;
    }
    
}

@media (min-width: 1210px) {
    .container {
        width: 1170px;
    }
    
}